*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo-principal{
    text-align: center;

}
.contenedor {
    background-color: rgb(128, 128, 128);
    position: relative;
    border: black solid 1px;
    padding: 65px 25px 15px;
  }
  .nombre-producto {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    background-color: rgb(105, 250, 255);
    width: 40%;
    height: 30%;
    top: -1px;
    right: -1px;
    font-size: 25px;
  }
  .nombre-producto > p {
    position: relative;
    top: 10px;
    text-align: center;
  }
  .primer-contenedor{
    background-color: rgb(238, 224, 144);
  }
  .segundo-contenedor{
    background-color:rgb(255, 122, 122);
  }
  .tercer-contenedor{
    background-color:lightsteelblue;
  }
  @media (min-width: 1021px){
    .contenedor {
      width: 30%;
      margin: auto 30px;
      float: left;
    }
    .titulo-principal{
      padding: 50px;
    }
  }
  @media (min-width: 992px) and (max-width:1919px) {
    .contenedor {
      width: 27%;
      margin: auto 30px;
      float: left;
    }
    .titulo-principal{
      padding: 50px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
      .contenedor{
          width: 40%;
          margin: auto 30px;
      }
      .primer-contenedor{
        float: left;
      }
      .segundo-contenedor{
        float: right;
      }
      .tercer-contenedor{
        float: right;
        margin: 34px 31px auto auto;
        width: 92%;
      }
      .tercer-contenedor > .name-right{
        height: 40%;
      }
      .nombre-producto{
        height: 25%;
      }
      .nombre-producto > p {
        position: relative;
        top: 15px;
    }    
  }
  @media (max-width: 767px) {
    .titulo-principal{
        margin: 35px auto;
    }
    .nombre-producto{
      height: 20%;
    }
    .nombre-producto > p {
      position: relative;
      top: 15px;
    }
    .contenedor{
        width: 90%;
        margin: 25px 15px;
    }
}
      
  
    